################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/TriResults/v15
/.vs/TriResults/lut
/TriResultsConsole/bin/Debug/uitslagen/output
/TriResultsConsole/bin/Debug/uitslagen
**/bin/Debug
**/obj/Debug
.vs/
**/*.csproj.user