################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TriResultsCsvReader/bin/Debug
/TriResultsCsvReader/obj/Debug
/TriResultsCsvReader/obj/Debug
/packages
/.vs/TriResults/v15
